[run]
source = openapi
concurrency=greenlet
data_file = build/.coverage
omit =
    openapi/db/openapi

[html]
directory = build/coverage/html

[xml]
output = build/coverage.xml

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
