[run]
source = openapi
data_file = build/.coverage
omit =
    openapi/db/openapi
    openapi/_py36.py

[html]
directory = build/coverage/html

[xml]
output = build/coverage.xml

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
