# python
__pycache__
*.pyc
*.pyd
*.so
*.o
*.def
*.egg-info
.python-version
.pytest_cache
.mypy_cache
venv
build
dist

# ides
.vscode/.ropeproject
.idea
*.swp

# Mac
.DS_Store

# files
.env
*.log
migrations
