# devs
flake8
black
codecov
coverage
coveralls
mypy
isort
pytest
pytest-cov
pytest-aiohttp
pytest-mock
twine
agile-toolkit
asynctest
#
# stubs
sqlalchemy-stubs
#
# additional features
colorlog
raven-aiohttp
#
# docs
sphinx
sphinx-copybutton
sphinx-autodoc-typehints
sphinxcontrib-asyncio
aiohttp-theme
recommonmark
sphinxcontrib-blockdiag
