# asyncio stack
uvloop
aiohttp
aiodns
httptools
cchardet
simplejson
#
# database
asyncpg
sqlalchemy
sqlalchemy_utils
alembic
psycopg2-binary
#
# tools
click
python-dateutil
python-dotenv
pytz
pyyaml
pyjwt
phonenumbers
email_validator
