# linters
black
isort[requirements]
flake8
flake8-blind-except
flake8-builtins
flake8-commas

# coverage
codecov
coverage
coveralls

# test
pytest
pytest-cov
pytest-aiohttp
pytest-mock
asynctest
async-timeout

# mypy & stubs
mypy
sqlalchemy-stubs

# deploy
twine
agile-toolkit

# additional features
sentry-sdk
python-dotenv
openapi-spec-validator
